html, body {
    width: 200px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 10px auto;
    padding: 4px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
  }
  
  .reset {
    background-color: rgb(255, 255, 255);
  }
  
  .reset:hover {
    background-color: rgb(255, 255, 255);
  }
  